<div class="perfils">
  <div class="perfil">
    <div class="perfil-title">Artistes i músics</div>
    <div class="perfil-desc">Presència digital, agenda, difusió</div>
  </div>
  <div class="perfil">
    <div class="perfil-title">Entitats i col·lectius</div>
    <div class="perfil-desc">Eines lliures, sobirania digital</div>
  </div>
  <div class="perfil">
    <div class="perfil-title">Negocis amb valors</div>
    <div class="perfil-desc">Sistemes propis, menys dependències</div>
  </div>
</div>