<div class="solucions-taula">

  <table class="solucio-taula">
    <thead>
      <tr>
        <th colspan="2"><a href="/ca/solucions/musics/">Artistes i músics</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">La situació habitual</th>
        <td>Una web amb look de plantilla que no reflecteix qui ets. Continguts dispersos per plataformes que no controles. L'agenda desactualitzada. Cada canvi requereix trucar a algú.</td>
      </tr>
      <tr class="solucio-proposem">
        <th scope="row">El que proposem</th>
        <td>
          <ul>
            <li>Web professional dissenyada des de zero, no una plantilla</li>
            <li>Agenda connectada automàticament (Google Calendar, Bandsintown)</li>
            <li>Discografia, vídeos i fotos integrats sense duplicar arxius</li>
            <li>Seccions tècniques: Press Kit, rider tècnic, marxandatge</li>
            <li>Butlletí per mantenir els fans informats</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="solucio-taula">
    <thead>
      <tr>
        <th colspan="2"><a href="/ca/solucions/collectius/">Entitats i col·lectius culturals</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">La situació habitual</th>
        <td>La comunicació depèn d'eines de Google sense que ningú ho hagi decidit. Els documents viuen en plataformes corporatives. Cap membre pot gestionar el web sense ajuda externa.</td>
      </tr>
      <tr class="solucio-proposem">
        <th scope="row">El que proposem</th>
        <td>
          <ul>
            <li>Web com a eina de gestió, no només d'informació</li>
            <li>Infraestructura pròpia: les vostres dades sota el vostre control</li>
            <li>Comunicació interna i externa sense intermediaris corporatius</li>
            <li>Privacitat real: sense Google Drive ni Notion de tercers</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="solucio-taula">
    <thead>
      <tr>
        <th colspan="2"><a href="/ca/solucions/microempreses/">Negocis amb valors</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">La situació habitual</th>
        <td>Presència digital inconsistent. Xarxes que "cal tenir" però no generen res. Eines contractades fa anys que ningú sap per a què servien.</td>
      </tr>
      <tr class="solucio-proposem">
        <th scope="row">El que proposem</th>
        <td>
          <ul>
            <li>Presència digital coherent amb els vostres valors i identitat</li>
            <li>Comerç integrat, fàcil de gestionar sense codi</li>
            <li>Comunicació unificada i responsable</li>
            <li>Eines les justes: res que no tingui sentit per al vostre cas</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

</div>
